
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/Signup_Layout.cshtml";
}

<body>
    <main>
        <div class="background">
            <div class="text">
                <h1>Sign Up</h1>
                <p>Have Account? <a href="login.html">Login</a></p>
            </div>
            <div class="box">
                <form class="form">
                    <input type="text" class="fullname" placeholder="Full Name" required>
                    <input type="email" class="email" placeholder="someone@abc.com" required>
                    <input type="text" class="username" placeholder="Username" required>
                    <input type="password" class="password" placeholder="Password" required>
                    <input type="submit" class="button" value="Login">
                </form>
            </div>
        </div>
    </main>
</body>