<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <title>
        Đăng Nhập
    </title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Content/js/login.js"></script>
</body>
</html>
